{{extend 'layout.html'}}

<a class="expander" href="#">{{=T('Show form')}}</a>
<div id="edit-form" style="display:none;">
{{=form}}
</div>
<br/>

<table width="100%">
  <thead>
    <tr>
      <th>{{=T('#')}}</th>
      <th>{{=T('Client')}}</th>
      <th>{{=T('Firm')}}</th>
      <th>{{=T('Amount')}}</th>
      <th>{{=T('Paid')}}</th>
      <th>{{=T('Actions')}}</th>
    </tr>
  </thead>
  <tbody>
    {{for f in facturi:}}
    <tr>
      <td>{{=f.number}}</td>
      <td>{{=f.client.name}}</td>
      <td>{{=f.firm.name}}</td>
      <td>{{=f.amount}}</td>
      <td><a href="{{=URL('toggle_paid', args=f.id)}}">{{=f.paid}}</a></td>
      <td><a href="{{=URL('index', args=f.id)}}">{{=T('Edit')}}</a>
	<a href="{{=URL('show', args=f.id)}}">{{=T('Show')}}</a></td>
    </tr>
    {{pass}}
  </tbody>
</table>

<script type="text/javascript">
  $(function(){
  $(".expander").click(function(e){
  $(this).next().slideToggle();
  e.preventDefault();
  });
  });
</script>
