{{extend 'layout.html'}}

<div class="span-8">
{{=T('Furnizor')}}:{{=f.firm.name}}<br/>
{{=T('Nr. Reg. Com')}}:{{=f.firm.number}}<br/>
{{=T('CUI')}}:{{=f.firm.CUI}}<br/>
{{=T('Sediul')}}:{{=f.firm.address}}<br/>
{{=T('Banca')}}:{{=f.firm.bank}}<br/>
{{=T('Contul')}}:{{=f.firm.iban}}<br/>
</div>
<div class="span-8">
<h1>{{=T('FACTURĂ')}}</h1>
<div class="span-8 last">
{{=T('Număr facură')}}:{{=f.number}}<br/>
{{=T('Data (ziua,luna,anul)')}}:{{=f.created_on.strftime("%d,%m,%Y")}}
</div>
</div>
<div class="span-8 last">
{{=f.client.name}}<br/>
{{=T('Nr. Reg. Com')}}:{{=f.client.number}}<br/>
{{=T('CUI')}}:{{=f.client.CUI}}<br/>
{{=T('Sediul')}}:{{=f.client.address}}<br/>
{{=T('Banca')}}:{{=f.client.bank}}<br/>
{{=T('Contul')}}:{{=f.client.iban}}<br/>
</div>
<hr/>
<div class="span-24 last" style="height:600px">
  <table border="1">
    <thead>
      <tr>
	<th>{{=T('Nr.')}}<br/>{{=T('crt')}}</th>
	<th>{{=T('Denumirea produselor sau a serviciilor (lucrarilor)')}}</th>
	<th>{{=T('U.M.')}}</th>
	<th>{{=T('Cantitatea')}}</th>
	<th><center>{{=T('Prețul unitar')}}<br/>{{=T('- lei -')}}</center></th>
	<th>{{=T('Valuare')}}<br/>{{=T('- lei -')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5(3x4)</td>
      </tr>
      {{for nr,entry in enumerate(f.entry.select()):}}
      <tr>
	<td>{{=nr}}</td>
	<td>{{=entry.description}}</td>
	<td>{{=entry.mu}}</td>
	<td>{{=entry.quanity}}</td>
	<td>{{=entry.unit_price}}</td>
	<td>{{=entry.price}}</td>
      </tr>
      {{pass}}
    </tbody>
  </table>
  <div>
    {{=T('Termen de plata')}}: {{=f.deadline}}<br/>
    {{if f.firm.representative:}}
    {{=T('Intocmit de')}}: {{=f.firm.representative.name}}
    {{=T('CI')}} {{=f.firm.representative.seria}} {{=T('nr.')}} {{=f.firm.representative.nr}}
    {{pass}}
  </div>
</div>
<hr/>
<div class="border span-8" style="height:200px">
{{=T('Semnatura și ștampila furnizorului')}}
</div>
<div class="border span-9"  style="height:200px">
{{=T('Date privind expeditia')}}<br/>
{{if f.client.representative:}}
{{=T('Numele delegatului')}}: {{=f.client.representative.name}}
{{=T('Identificat cu C.I. Seria:')}} {{=f.client.representative.seria}} {{=T('Nr.')}}:{{=f.client.representative.number}}
<br/>
{{pass}}
{{=T('Expedierea s-a facut in prezenta noastra la data')}}:{{=datetime.date.today().strftime("%d.%m.%Y")}}<br/>
{{=T('ora')}}: {{=datetime.datetime.now().time().strftime("%H:%M")}}<br/>		
{{=T('Semnatura')}}		
</div>

<div class="span-7 last">
<table border="1">
  <tr>
    <td>{{=T('Total')}}</td>
    <td>{{=f.total}}</td>
  </tr>
  <tr>
    <td>{{=T('Semnatura de primire')}}</td>
    <td>{{=T('Total de plata')}} {{=f.total}}</td>
  </tr>
</table>


</div>
